<% form_for @page, :html => {:multipart => true } do |f| -%>
  <%= f.error_messages %>
<fieldset>
  <div class="formfield">
    <%= f.label :title, "Title" %><br/>
    <%= f.text_field :title %>
  </div>  
  <div class="formfield"> 
    <%= f.label :body, "Body" %> <br/>
    <%= f.text_area :body %>
  </div>
  <div class="formfield">  
    <%= f.label :tag_list, "Tags" %><br/>
  	<%= f.text_field :tag_list %>
  </div>
  <div class="formfield">
    <%= f.file_field :file_data %>
    <div id="files_list"><h4>Files (maximum 10):</h4></div>
    <script>
      var multi_selector = new MultiSelector(document.getElementById('files_list'), 'page[attached_files][]', 10);
      multi_selector.addElement(document.getElementById('page_file_data'));
    </script>
  </div>
  <div class="formfield">
    <%= f.submit "Submit", :disable_with => 'Submiting...' %>
    <%= link_to 'Cancel', @cancel_action, :confirm => "You will lose all your changes, are you sure you want to cancel?" %>
  </div>
</fieldset>
<% end %>
